*{
    margin: 1;
    padding: 1;
    font-family: sans-serif;
}
.navbar-light{
    background:transparent;
}
.navbar-brand{
}
.bg{
    height: 100%;
    width: 100%;
    background-image: url(redbg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.header{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100%;
    position: relative;
    font-style: italic;
}
.ibg{
    height: 700px;
    width:380px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.753);
    padding: 5px;
}
.SessionBg{
    height: 380px;
    width:380px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.753);
    padding: 5px;
}
.TableBg{
    height: 500px;
    width:980px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.753);
    padding: 5px;
}
.button-box{
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn1{
    padding: 5% 15%;
    cursor: pointer;
    background:transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}
.toggle-btn2{
    padding: 5% 5%;
    cursor: pointer;
    background:transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.btn-primary{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 100px;;
    outline: none;
    border-radius: 30px; 
}
label{
    color: #777;
    font-size: 12px;
    position: relative;
}
.course{
    max-width: 100%;
    padding-right: 85px;
}
.login-group{
    width: 50%;
    margin: auto;
    position: relative;
    padding: 1% 1%;
}
.inputfield{
    border-width: 50%;
    width:100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    position: relative;
}
.check-box{
    position: relative;
    left:1px;
}
.text-center{
    font-size: 25px;
}


